<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사용자 추가</title>
</head>
<body>

    <h2>사용자 추가</h2>

    <label>이름 : </label><input type="text" id="nameInput"> <br>
    <label>생년월일 : </label><input type="text" id="birthdayInput"><br>
    <lable>이메일 : </lable><input type="text" id="emailInput">
        <button type="button" id="duplicateBtn">중복확인</button><br>
    <lable>자기소개 : </lable> <br>
    <textarea rows="7" cols="50" id="introduceInput"></textarea><br>
    <button type="button" id="addBtn">추가</button>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $("#duplicateBtn").on("click",function(){
            let duplicate = $("duplicateBtn").val()

            if(duplicate == ""){
                alert()
            }

        })

        $("#addBtn").on("click", function(){
            let name = $("#nameInput").val();
            let birth = $("#birthdayInput").val();
            let email = $("#emailInput").val();
            let introduce = $("#introduceInput").val();

            // 유효성 검사
            if(name == ""){
                alert("이름을 입력하세요");
                return;
            }
            if(birth = ""){
                alert("생년월일을 입력하세요");
                return;
            }
            if(email == ""){
                alert("이메일을 입력하세요");
                return;
            }
            if(introduce == ""){
                alert("자기소개를 입력하세요");
                return;
            }

            // 사용자 추가 api
            $.ajax({
                type:"post" // 사용할 메서드
                , url:"ajax/user/add"
                , data:{"name":name, "birthday": birthday, "email" : email, "introduce" : introduce}//전달할 파라미터값, 키값으로 표현
                , sucess : function(responce) { // responce에 응답 바디가 저장이됌?
                    if(responce.result == "sucess") {
                        alert("성공!!");
                    } else{
                        alert("사용자 추가 실패")
                    }
                }
                , error : function(){
                    alert("사용자 추가 에러!")
                }
            });
        })
    </script>

</body>
</html>