<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf 반복문</title>
</head>
<body>

    <h2>Thymeleaf 반복문</h2>

    <h3>1. 숫자 반복</h3>
    <!-- 0 1 2 3 4 -->
    <div th:each="i : ${#numbers.sequence(0,4)}" th:text="${i}"></div>

    <h3>2. 리스트 반복</h3>
    <!-- 향상된 for문과 유사 for(String fruit: fruitList)-->
        <div th:each="fruit, status:${fruitList}">
            <sapn th:text="${fruit}">사과</sapn>
            <span th:text="|${status.index} ${status.count} ${status.first} ${status.last}|"></span>
        </div>

    <table border="1">
        <thead>
            <tr>
                <th>이름</th>
                <th>취미</th>
                <th>나이</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user:${userList}">
                <td th:text="${user.name}">유재석</td>
                <td th:text="${user.age}">30</td>
                <td th:text="${user.hobby}">진행</td>
            </tr>
        </tbody>
    </table>

</body>
</html>