<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>날짜 문자열 다루기</title>
</head>
<body>
    <h2>날짜 문자열 다루기</h2>

    <h3>1. 날짜 시간 객체</h3>
    <h4 th:text="|Date : ${date}|"> </h4>
    <h4 th:text="|LocalDate : ${localDate}|"> </h4>
    <h4 th:text="|LocalDateTime: ${localDateTime}|"> </h4>

    <h4 th:text="|Date : ${#dates.format(date, 'yyyy년 M월 d일 h시 m분 s초')}|"></h4>
    <h4 th:text="|LocalDate : ${#temporals.format(localDate, 'yyyy년 MM월 dd일')}|"></h4>
    <h4 th:text="|LocalDateTime: ${#temporals.format(localDateTime, 'yyyy/MM/dd HH-mm-ss')}|"> </h4>

    <h3>2. 문자열 메서드</h3>
    <div th:with="String1 = 'No pain, No gain'" >
        <h4 th:text="|문자열 길이 : ${#stirngs.length(String1)}|"> </h4>
        <h4 th:text="|No 존재하는지 : ${strings.contains(String2,'No')}|"></h4>

        <h4 th:if="${#strings.startsWith(String1, 'No')}"> No로 시작한다</h4>
        <h4 th:if="${#strings.endsWith(string1,'gain')}"> gain으로 끝난다</h4>
    </div>

    <div th:with="String2 = 'I Love chicken'">
        <h4> 문자열 치환 </h4>
        <h4 th:test="${#strings.replace(String2, 'chicken', 'pizza')}"></h4>
        <h4 th:text="${String2}"> </h4>

        <h4>문자열 자르기</h4>
        <h4 th:text="${#strings.substring(String2, 2, 6)}"></h4>

        <h4>문자열 쪼개기</h4>
        <h4 th:text="${#strings.arraySplit(String2, ' ')[0]}"></h4>
        <h4 th:text="${#strings.arraySplit(String2, ' ')[2]}"></h4>
    </div>

    <div th:with="string3='                    hello                  '">
        <h4 th:text="${string3}"></h4>
        <textarea th:text="${stirng3}"></textarea>
        <testarea th:text="${#strings.trim(string3)}"></testarea>
    </div>


</body>
</html>